_pandocdiff="pandoc -t plain"
_catdocdiff="catdoc"

if [ "$(git config diff.pandocdiff.textconv)" != "$_pandocdiff" ]; then
    git config diff.pandocdiff.textconv "$_pandocdiff"
fi

if [ "$(git config diff.catdocdiff.textconv)" != "$_catdocdiff" ]; then
    git config diff.catdocdiff.textconv "$_catdocdiff"
fi
