.vagrant
.DS_Store
.*.sw[op]
*.bak
*.report
*.aux
*.dvi
*.fdb_latexmk
*.fls
*.log
*.pdf
*.out
*.dwl
*.dwl2
*.bak
__pycache__
*.bbl
*.blg
*.bcf
*.run.xml
*.toc
*.lof
*.gpkg-wal
*.gpkg-shm

env/
*.pyc
version.tex
db/
